<component name="libraryTable">
  <library name="server">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../ChillNetwork/server.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../ChillNetwork/plugins/AntiRelog.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../ChillNetwork/plugins/EssentialsX-2.21.0-dev+121-f7a8f86.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/../../../ChillNetwork/server.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../ChillNetwork/plugins/AntiRelog.jar!/" />
    </SOURCES>
  </library>
</component>